<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-horizontal">
        <form action="/crud/mahasiswa/hapus" method="get" id="form-mahasiswa-delete">
            <p>are you sure to delete this data ?</p>
            <input type="hidden" name="kodeMahasiswa" th:value="${lemparHapus.kd_mhs}" >
            <button type="reset" data-dismiss="modal" class="btn btn-warning">No</button>
            <button type="submit" class="btn btn-danger">Yes</button>
        </form>

    </div>
</body>
</html>